@model Core.Models.About

<h1>Create AboutInfo</h1>

<form asp-area="Admin" asp-controller="About" asp-action="Save" role="form" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label asp-for="Id" class="control-label">Id:</label>
        <div>
            <input type="hidden" asp-for="Id" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Title" class="control-label">Title:</label>
        <div>
            <input type="text" name="Title" class="form-control-file" asp-for="Title" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Description:</label>
        <div>
            <textarea class="form-control" rows="4" asp-for="Description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Name" class="control-label">Name:</label>
        <div>
            <input type="text" asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DateOfBirth" class="control-label">Date of Birth:</label>
        <div>
            <input type="date" asp-for="DateOfBirth" class="form-control" />
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Nationality" class="control-label">Nationality:</label>
        <div>
            <input type="text" asp-for="Nationality" class="form-control" />
            <span asp-validation-for="Nationality" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="WorkState" class="control-label">WorkState:</label>
        <div>
            <input type="text" asp-for="WorkState" class="form-control" />
            <span asp-validation-for="WorkState" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Phone" class="control-label">Phone:</label>
        <div>
            <input type="text" asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label">Email:</label>
        <div>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label">Address:</label>
        <div>
            <input type="text" asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="TitleArabic" class="control-label"> :العنوان</label>
        <div>
            <input type="text" name="TitleArabic" class="form-control-file" asp-for="TitleArabic" />
            <span asp-validation-for="TitleArabic" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DescriptionArabic" class="control-label">:الوصف</label>
        <div>
            <textarea class="form-control" rows="4" asp-for="DescriptionArabic"></textarea>
            <span asp-validation-for="DescriptionArabic" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NameArabic" class="control-label">:الاسم</label>
        <div>
            <input type="text" asp-for="NameArabic" class="form-control" />
            <span asp-validation-for="NameArabic" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="NationalityArabic" class="control-label">:الجنسية</label>
        <div>
            <input type="text" asp-for="NationalityArabic" class="form-control" />
            <span asp-validation-for="NationalityArabic" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="WorkStateArabic" class="control-label">:حالة العمل</label>
        <div>
            <input type="text" asp-for="WorkStateArabic" class="form-control" />
            <span asp-validation-for="WorkStateArabic" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="PhoneArabic" class="control-label">:الموبيل</label>
        <div>
            <input type="text" asp-for="PhoneArabic" class="form-control" />
            <span asp-validation-for="PhoneArabic" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="AddressArabic" class="control-label">: العنوان</label>
        <div>
            <input type="text" asp-for="AddressArabic" class="form-control" />
            <span asp-validation-for="AddressArabic" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label">Image:</label>
        <div>
            <input type="file" name="Files" class="form-control-file" asp-for="Image" />
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="AboutInfo" class="btn btn-secondary">Cancel</a>
        </div>
    </div>

</form>
